<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta id="my_data" data-name = "{{questions}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>Holidify Game</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/preset.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/myclasses.css') }}">
</head>
<body>
	
<div id="mypopup" class="popupContainer">
		<div class="popupContent borderRadius10">
			<div class="nopadding" style="background-color: rgba(40,40,40,0.9)">
				<div class="whiteText borderRadius10" >
					<span class="close">&times;</span>
				<center>
					<br>
					<p><h3>Get Free Travel Quotes</h3></p>
					<p><h4>From Top Travel Agents In India</h4></p>	
					<br>
				<center>
				</div>	
			</div>
			<div style="padding-left: 25px;padding-right: 25px;">
				<form method="post" action = "http://localhost:5000/{{placeCode}}/save">
					<div class="form-group">
						<br>
						<b>Name:</b>		
						<input type="text" class=" form-control	 borderRadius10" placeholder="Name" style="margin-top: 5px" name="u_name" id="u_name">
						<br>
						<b>Phone Number:</b>
						<input type="text" class="form-control borderRadius10" placeholder="Phone Number" style="margin-top: 5px" id="u_phone" name="u_phone">
						<br>
						<b>Email ID:</b>
						<input type="text" class="form-control borderRadius10" placeholder="Email ID" style="margin-top: 5px" id="u_email" name="u_email">
						<br>
						<b>Country :</b>
						<select class="form-control borderRadius10" style="margin-top: 5px" id="u_country" name="u_country">
		 				 	<option value="India">India</option>
		  					<option value="Benin">Benin</option>
		  					<option value="Chile">Chile</option>
		  					<option value="China">China</option>
						</select>
						<br>
						<center>
						<button type="button" id="fillData" class="btn btn-danger">Get From DB</button>
						<button type="submit" id="sendData" class="btn btn-danger" >Save to DB</button>
							<p><h5>Powered By</p>   
							We strictly adhere to our privacy policy	</h5>
						</center>
	                </div>
            	</form>
            <br>
			</div>		
		</div>
</div>
<nav class="navbar navbar-default noMarginBottom whiteBackground">
	<div class="container">
		<div class="navbar-header" >
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="margin-top: 20px;">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
   			<a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='logo.png') }}" style="width: 70%;"></a>
   			<form class="visible-xs col-xs-7" style="padding-top:20px">
                <div class="form-group">
                  <input type="text" class="form-control hf-searchbar searchIcon typeahead  borderRadius30"
                    placeholder="Search" style="background-color: rgb(245, 248, 250);">
                 </div> 
            </form>
   		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-pills" style="padding-top:7px">	
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(105, 108, 110); font-size: 17px;">Weekend<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-submenu">
                         	<a href="#" tabindex="-1"> Weekend Getaways<span class="caret"></span></a>
                         	<ul class="dropdown-menu">
                           		<li><a tabindex="-1" href="/">Places Near Delhi</a></li>                           
                           		<li><a href="/">Places Near Mumbai</a></li>
                           		<li><a href="/">Places Near Bangalore</a></li>
                           		<li><a href="/">Places Near Kolkata</a></li>
                           		<li><a href="/">Places Near Chennai</a></li>
                         	</ul>
                        </li>
                        <li><a href="/">Explore</a></li>
                        <li><a href="/">Collections</a></li>
                        <li><a href="/">Blog</a></li>
                    </ul>
                </li>    
				<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: rgb(105, 108, 110);font-size: 17px;">Destinations<span class="caret"></span></a>
	                    <ul class="dropdown-menu">
	                        <li><a href="/">By Region</a></li>
	                        <li><a href="/">By Category</a></li>
	                        <li><a href="/">International</a></li>
	                    </ul>
                </li>
                <li>
                	<form class="navbar-form hidden-xs" role="search" >
                  		<div class="form-group">
                     		<input type="text" id="search" class="hf-searchbar form-control searchIcon typeahead borderRadius30"placeholder="Search" style="background-color: rgb(245, 248, 250); width: 150%">
                  		</div>
               		</form>
                </li>

                <li class="navbar-right">
                	<button type="button" id="testBTN" class="btn">Login</button>
                </li>
                <li class="navbar-right">
                	<button type="button" id ="popupBTN" class="btn btn-danger">Packages</button>
                </li>
			</ul>
		</div>
	</div>
</nav>
    <div class="col-md-12" style="margin-top: 3px">
	    <div class="col-md-2 col-xs-6">
	    </div>
	    
	    <div class="col-md-3 col-md-offset-9 col-xs-6">
	    	<h4><div id="points">Points : 0</div> </h4>
	    </div>	
    </div>

<center>
{% for i in range (0,size) %}

<div id="question{{ i }}" class="col-md-12 col-xs-12 question-container" style="height: 100%; display: none; background-color: rgb(245, 248, 250)">
	<div class="col-md-4 hidden-xs">
	</div>	
  	<div class="col-md-4 col-xs-12 borderRadius30 popupContent shadow">
  		<h2>Guess the location {{i+1}}	!!</h2>
  		<img src="{{questions[i][4]}}" style="width: 100%; height:250px">
  		<div style="margin-top: 5px" >
		    <button id="q{{ i }}b1" type="button" value = "{{questions[i][0]}}" class="btn btn-primary btn-lg btn-submit  col-xs-12" style="float:left;margin-top: 2px;" >{{questions[i][0]}}, {{questions[i][7]}}</button>
		    <button id="q{{ i }}b2" type="button" value = "{{questions[i][1]}}" class="btn btn-primary btn-lg btn-submit  col-xs-12" style="float:right;margin-top: 2px">{{questions[i][1]}}, {{questions[i][8]}}</button>
		    <button id="q{{ i }}b3" type="button" value = "{{questions[i][2]}}" class="btn btn-primary btn-lg btn-submit col-xs-12" style="float:left;margin-top: 2px">{{questions[i][2]}}, {{questions[i][9]}}</button>
		  	<button id="q{{ i }}b4" type="button" value = "{{questions[i][3]}}" class="btn btn-primary btn-lg btn-submit col-xs-12" style="float:right;margin-top: 2px; margin-bottom: 15px">{{questions[i][3]}}, {{questions[i][10]}}</button>	
 		</div>	
  </div>
</div>

<div id="answer{{i}}" style="display: none">{{questions[i][6]}}</div>
{% endfor %}
</center>
<div id="afterGame" class="col-md-9" style="display: none">
</div>

<div id="planYourTrip" class="col-md-3 hidden-xs" style="display: none">	
	<form method="post" class="shadow">
		<div class="form-group">
			<center><h3>Plan Your Trip</h3></center>
			<br>
			<b>Name:</b>		
			<input type="text" class=" form-control	 borderRadius10" placeholder="Name" style="margin-top: 5px" name="u_name" id="u_name">
			<br>
			<b>Phone Number:</b>
			<input type="text" class="form-control borderRadius10" placeholder="Phone Number" style="margin-top: 5px" id="u_phone" name="u_phone">
			<br>
			<b>Email ID:</b>
			<input type="text" class="form-control borderRadius10" placeholder="Email ID" style="margin-top: 5px" id="u_email" name="u_email">
			<br>
			<b>Country :</b>
			<select class="form-control borderRadius10" style="margin-top: 5px" id="u_country" name="u_country">
				 	<option value="India">India</option>
					<option value="Benin">Benin</option>
					<option value="Chile">Chile</option>
					<option value="China">China</option>
			</select>
			<br>
			<button type="button" id="fillData" class="btn btn-block btn-danger">Get Quotes</button>
			<br>
        </div>
	</form>
</div>



<script src="{{ url_for('static',filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script>
	function sleep(miliseconds) {
   var currentTime = new Date().getTime();

   while (currentTime + miliseconds >= new Date().getTime()) {
   }
}
	$(document).ready(function()
	{
		
        $("#question0").css("display","block");
    });

	var choosenAnswer = [];
	var correctAnswer = [];
	var points=0;

	$(".btn").click(function()
	{
		var btnID = this.id;
		choosenAnswer.push(document.getElementById(btnID).value);
		var questionNum = parseInt(btnID[1]);
		var nextQuesNum = questionNum+1;	
		correctAnswer.push(document.getElementById("answer"+questionNum).innerHTML);
		
		var strChoosen="";
		var strCorrect="";

		sleep(250);

		if(choosenAnswer[questionNum]===correctAnswer[questionNum])
			{
				points=points+10;
			}
		document.getElementById('points').innerHTML = "Points : "+	points;
		
		$("#question"+questionNum).css("display","none");
		if(nextQuesNum!=10)
			$("#question"+nextQuesNum).css("display","block");

		if(questionNum == 9)
		{
			for (var i=0; i < 10; i++) 
			{
				strChoosen+= choosenAnswer[i]+"|";
				strCorrect+= correctAnswer[i]+"|";
			}
			
			$("#afterGame").css("display","block");
			$("#planYourTrip").css("display","block");
			$.get("http://localhost:5000/table/"+strChoosen+"/"+strCorrect, function(obj)
			{
				$("#afterGame").html(obj);
			});
		}

	});
</script>

</body>
</html>