<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta id="my_data" data-name = "{{questions}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title>
		Holidify Game
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='preset.css') }}">
</head>
<body>

	 <nav class="navbar navbar-default nav-style">
        <div class="container navbar-header"></div>

        <a class="navbar-brand" href="#"><img src="{{ url_for('static',filename='logo.png') }}" style="width: 70%;"></a>
    </nav>
<center>

<div id="points">0</div>
{% for i in range (0,size) %}
<div id="question{{ i }}" style="display: none">
	<div class=" infobox col-md-12 col-xs-12" style="height: 100%">
	  	<div class="question-container"><h2>Guess the location {{i}}!!</h2>
		  	<div class="col-md-4 col-md-offset-4">
		  		<img src="{{questions[i][4]}}" style="width: 100%; height: 250px">
		  		<div style="margin-top: 5px">
				    <button id="q{{ i }}b1" type="button" value = "{{questions[i][0]}}" class="btn btn-submit col-md-5 col-xs-12" style="float:left; margin-top: 2px" >{{questions[i][0]}}</button>
				    <button id="q{{ i }}b2" type="button" value = "{{questions[i][1]}}" class="btn btn-submit col-md-5 col-xs-12" style="float:right;margin-top: 2px">{{questions[i][1]}}</button>
				    <br>
				    <br>
				    <button id="q{{ i }}b3" type="button" value = "{{questions[i][2]}}" class="btn btn-submit col-md-5 col-xs-12" style="float:left;margin-top: 2px">{{questions[i][2]}}</button>
				  	<button id="q{{ i }}b4" type="button" value = "{{questions[i][3]}}" class="btn btn-submit col-md-5 col-xs-12" style="float:right;margin-top: 2px">{{questions[i][3]}}</button>
				  	
		 		</div>	
		  	</div>
		</div>
	</div>
</div>
<div id="answer{{i}}" style="display: none">{{questions[i][6]}}</div>
{% endfor %}

<div id="afterGame" style="display: none">
	<div class="col-md-6 col-xs-6"> <strong>Choosen Answer</strong>	</div>
	<div class="col-md-6 col-xs-6"> <strong>Correct Answer</strong> </div>
	
	<div id="choosen" class="col-md-6 col-xs-6">
		
	</div>

	<div id="correct" class="col-md-6 col-xs-6">
		
	</div>
</div>
</center>


<script src="{{ url_for('static',filename='js/jquery.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script>
	$(document).ready(function()
	{
        $("#question0").css("display","block");
    	
    });

	var choosenAnswer = [];
	var correctAnswer = [];
	var points=0;

	$(".btn").click(function()
	{
		var btnID = this.id;
		choosenAnswer.push(document.getElementById(btnID).value);
		var questionNum = parseInt(btnID[1]);
		var nextQuesNum = questionNum+1;	
		correctAnswer.push(document.getElementById("answer"+questionNum).innerHTML);
		var strChoosen="";
		var strCorrect="";
		
		if(choosenAnswer[questionNum]===correctAnswer[questionNum])
			{
				//alert("wohoo!"+correctAnswer[questionNum]);
				points=points+10;
			}
		/*else
			{alert("LOL!"+correctAnswer[questionNum]);}*/
		document.getElementById('points').innerHTML = points;
		
		$("#question"+questionNum).css("display","none");
		if(nextQuesNum!=10)
			$("#question"+nextQuesNum).css("display","block");

		if(questionNum == 9)
		{
			for (var i=0; i < 10; i++) 
			{
				strChoosen+= choosenAnswer[i]+"<br>";
				strCorrect+= correctAnswer[i]+"<br>";
			}



			document.getElementById("choosen").innerHTML = strChoosen;
			document.getElementById("correct").innerHTML = strCorrect;
			
			$("#afterGame").css("display","block");
		}

	});
</script>

</body>
</html>