

	{% for x in range(0,size)%}
			
			{% if choosen[x]==correct[x] %}
			<div class="col-md-5 col-xs-12 borderRadius30 shadow" style="background-color: rgb(200,250,200);height: 350px; margin-top: 20px;margin-left: 50px">
			{% else %}
			<div class="col-md-5 col-xs-12 borderRadius30 shadow" style="background-color: rgb(250,200,200);height: 350px;margin-top: 20px;margin-left: 50px">
			{% endif %}
				<div class="borderRadius30">
				<center>
				<strong>{{x+1}}</strong><br>
				<a href="{{canList[x]}}"><img src ={{imageList[x]}} style="width: 90%; height: 250px"></a>
				<br><br>
				<a href="{{canList[x]}}" style="color: black"><button type="button" id="fillData" class="btn btn-primary btn-block" style="width: 90%">Read About : {{correct[x]}}</button></a>
				<strong>Choosen Option: </strong>{{choosen[x]}}
				</center>
				</div>
			</div>
			
			<!--<td style="width: 40%" align="center"><a href="{{canList[x]}}"><img src ={{imageList[x]}} style="width: 100%;"></a></td>
			<td align="center"><a href="{{canList[x]}}" style="color: black">{{correct[x]}}</a></td>
			<td align="center">{{choosen[x]}}</td>
			
			</tr>-->

	{% endfor %}

