body {
	background-color: rgb(245, 248, 240);
}

@media(max-width:767px) {
	.paddingMobileleft {
		padding-left: 7px;
	}
}

@media(min-width:767px) {
	.noMarginDesktopTop {
		margin-top:0px;
	}
}

@media(max-width:767px) {
	.noMarginDesktopTop {
		margin-top:10px;
	}
}

@media(min-width:767px) {
	.noMarginMobileLeft {
		margin-left: 35px;
	}
}

@media(max-width:767px) {
	.noMarginMobileLeft {
		margin-left:0px;
	}
}

@media(min-width:767px) {
	.noMarginMobileRight {
		margin-right:35px;
	}
}

@media(max-width:767px) {
	.noMarginMobileRightt {
		margin-right:0px;
	}
}

@media(min-width:767px) {
	.noPaddingMobileRight {
		padding-right: 15px;
	}
}

@media(max-width:767px) {
	.noPaddingMobileRight {
		padding-right: 0px;
	}
}

@media(min-width:767px) {
	.noPaddingMobileLeft {
		padding-left: 15px;
	}
}

@media(max-width:767px) {
	.noPaddingMobileLeft {
		padding-left: 0px;
	}
}

.noPaddingRight{
	padding-right: 0px;
}

.noPaddingLeft{
	padding-left: 0px;
}

.noMarginBottom{
	margin-bottom: 0px;
}

.borderRadius10{
	border-radius:10px;
}

.borderRadius30{
	border-radius:30px;
}

.whiteBackground{
	background-color: white;
}

.topLeft{
	position: absolute; 
	top: 8px; 
	left: 16px;
	padding-left: 15px; 
}

.bottomLeft{
	position: absolute; 
	top: 220px; 
	left: 16px;
	padding-left: 15px; 
}

.whiteText{
	color: white;
}

.iconColor{
	color: red;
}

.shadow{
	box-shadow:0px 2px 5px 0px lightgrey;
}

.popupContainer{
	display:none;
	position: fixed;
	padding-top: 30px;
	z-index: 1;
	width:100%;
	height:100%; 
	overflow: none;
	background-color: rgba(0,0,0,0.5);
}
.gameFinal{
	background-color: white;
    margin: auto;
    border: 1px ;
    width: 100%;
}

.popupContent{
	background-color: white;
    margin: auto;
    border: 1px ;
    width: 30%;
}

.qc{
	background-color: white;
    margin: auto;
    border: 1px ;
    width: 30%;
} 

@media(max-width:767px) {
	.popupContainer {
    padding-top: 15px;
	}
}

@media(max-width:767px) {
	.popupContent {
    width: 96%;
	}
}

.filterBox{
	border:solid;
	border-color: black;
	border-radius:2px;
	border-spacing: 5px;
	background-color: white;
}
.close 
{
    color: rgb(250,250,250);
    float: right;
    margin-right: 5px;
    font-size: 28px;
    font-weight: bold;
}

@media(max-width:767px) {
	.PaddingMobileLeft {
		padding-left: 10px;
	}
}
@media(max-width:767px) {
	.MarginMobileLeft {
		margin-left:10px;
	}
}
@media(max-width:767px) {
	.MarginMobileRight {
		margin-right:10px;
	}
}
