/*@import url(https://fonts.googleapis.com/css?family=Satisfy|Pathway+Gothic+One);*/

body{
	background-color: rgb(245, 248, 240);
}

.nav-style{
	background-color: white; margin-bottom: 0px;
}

.dropchik{
	color: rgb(105, 108, 110); 
	font-size: 17px;
}

@media(max-width: 767px){
	.optionBTN{
		width: 100%;
	}

	.martop{
		margin-top: 10px;
	}

	.marbottom{
		margin-bottom: 10px
	}
}
.question-container{
  border-radius: 13px;
  padding: 16px;
  text-align: center;
}

@media(min-width: 768px){
	
	.optionBTN{
		width: auto;
	}

	.forPC{
		position: absolute;
		top: 10px;
		left: 16px;
		padding-left: 15px;
		color: white
	}
	.searchBox{
		border-radius: 30px;
		background-color: rgb(245, 248, 250);
		width: 150%
	}
}

.noPadding{
	padding-right: 0px;
	padding-left: 0px;
}

.directors{
	background-color: rgb(255,255,255);
	border-radius: 10px;
}

.infobox{
	border-width: 2px;
	background-color: rgb(255,255,255);
	border-radius: 10px
}

.leftBottom{
	position: absolute;
	bottom: 80px;
	left: 16px;
	padding-left: 15px;
	color: white;
}

.padbot{
	padding-bottom: 10px;
}

.iconColor{
	color: red;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

#abc {
width:100%;
height:100%;
top:0;
left:0;
display:none;
position:fixed;
background: rgba(0,0,0,.5);
overflow:auto
}

div#popupContact {
position:absolute;
background-color: white;
left:50%;
top:17%;
margin-left:-202px;
}

form {
max-width:300px;
min-width:250px;
padding:10px 50px;
border-radius:8px;
font-family:raleway;
background-color:#fff
}

p.marginset {
margin-top:30px
}
h2.properties {
background-color:#FEFFED;
padding:20px 35px;
margin:-10px -50px;
text-align:center;
border-radius:10px 10px 0 0
}
hr {
margin:10px -50px;
border:0;
border-top:1px solid #ccc
}

input[type=text].arena {
width:82%;
padding:10px;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway
}

#name {

background-repeat:no-repeat;
background-position:5px 7px
}

#email {

background-repeat:no-repeat;
background-position:5px 7px
}

textarea {
background-repeat:no-repeat;
background-position:5px 7px;
width:82%;
height:95px;
padding:10px;
resize:none;
margin-top:30px;
border:1px solid #ccc;
padding-left:40px;
font-size:16px;
font-family:raleway;
margin-bottom:30px
}

#submit {
text-decoration:none;
width:100%;
text-align:center;
display:block;
background-color:#FFBC00;
color:#fff;
border:1px solid #FFCB00;
padding:10px 0;
font-size:20px;
cursor:pointer;
border-radius:5px
}

.close {

color:red;
font-weight:700
margin-right: 1px;
font-size: 20;
}
